.nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 0.5rem;
    margin: 1rem 0;
    background-color: #e9c346;

}

.home-link:hover {
    color: #30afb5;
}

.home-link {
    color: #c45508;
}


.new-post-link:hover {
    color: #30afb5;
}

.new-post-link {
    color: #c45508;
}


.most-liked-link:hover {
    color: #30afb5;
}

.most-liked-link {
    color: #c45508;
}