* {
  margin: 0;
  padding: 0;
  border: none;
}

body {
  margin-top: -25px;
  margin: 0 auto;
  padding: 0;
  clear: both;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url('https://img.freepik.com/free-vector/blue-diagonal-square-grid-background_1409-1251.jpg?size=626&ext=jpg&ga=GA1.2.1016267260.1663259739');
}

html {
  margin: 0 auto;
  padding: 0;
}

#root {
  margin-top: 0;
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}